
library/
build/
profiles/
temp/
.creator/
#//////////////////////////
# NPM
#//////////////////////////

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/